@model  IEnumerable<QLCHTL.Models.SanPham>
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Product Details Page</h1>
                <nav class="d-flex align-items-center">
                    <a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
                    <a href="#">Shop<span class="lnr lnr-arrow-right"></span></a>
                    <a href="single-product.html">product-details</a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->
<!--================Single Product Area =================-->
<div class="product_image_area">
    <div class="container">
        <div class="row s_product_inner">
            @foreach (var p in Model)
            {
                <div class="col-lg-6">
                    <div class="s_Product_carousel">
                        <div class="single-prd-item">
                            <img class="img-fluid" src="/@p.productdetails.HinhAnh" alt="">
                        </div>
                        <div class="single-prd-item">
                            <img class="img-fluid" src="/@p.productdetails.HinhAnh" alt="">
                        </div>
                        <div class="single-prd-item">
                            <img class="img-fluid" src="/@p.productdetails.HinhAnh" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 offset-lg-1">
                    <div class="s_product_text">
                        <h3>@p.productdetails.TenHang</h3>
                        <h2>@p.giabandetails.DonGia.Value.ToString("#,##0").Replace(',', '.') VNĐ</h2>
                        <ul class="list">
                            <li><a class="active"><span>Đơn vị tính</span> @p.productdetails.DVT</a></li>
                            @if (@p.productdetails.Status == true)
                            {
                                <li><a><span>Trạng thái</span>Còn hàng</a></li>
                            }
                            else
                            {
                                <li><a><span>Trạng thái</span>Hết hàng</a></li>
                            }
                        </ul>
                        <p>  @p.productdetails.MoTa</p>
                        <div class="product_count">
                            <label for="qty">Số lượng:</label>
                            <input min="1" max="100" value="1" type="number">
                            @*<input type="text" name="qty" id="sst" maxlength="12" value="@p.soluong" title="Quantity:" class="input-text qty">
                                <button class="increase items-count" type="button">
                                    <i class="lnr lnr-chevron-up"></i>
                                </button>
                                <button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst ) &amp;&amp; sst > 0 ) result.value--;return false;"
                                        class="reduced items-count" type="button">
                                    <i class="lnr lnr-chevron-down"></i>
                                </button>*@
                        </div>
                        <div class="card_area d-flex align-items-center">

                            <a class="primary-btn" href="@Url.Action("ThemGioHang", "Cart", new { @ms = p.productdetails.MaHang, @strURL ="~/Cart/GioHang" },null)">Add to Cart</a>

                            <a class="icon_btn" href="#"><i class="lnr lnr lnr-diamond"></i></a>
                            <a class="icon_btn" href="#"><i class="lnr lnr lnr-heart"></i></a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<br />
<br />
<br />
<br />
<!--================End Single Product Area =================-->