
@model  List<QLCHTL.Models.CartItem>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Shopping Cart</h1>
                <nav class="d-flex align-items-center">
                    <a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
                    <a href="category.html">Cart</a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->
<br /><br /><br /><br /><br /><br /><br /><br />
<!-- shopping cart area start -->
<div class="shopping_cart_area">
    <div class="container">
        
           
                <div class="row"> 
                    <div class="col-12">
                        @using (Html.BeginForm("CapNhatGioHang","Cart", FormMethod.Post))
                        {
                            <div class="table_desc">
                                <div class="cart_page table-responsive">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th class="product_remove">Xóa sản phẩm</th>
                                                <th class="product_thumb">Hình ảnh</th>
                                                <th class="product_name">Sản phẩm</th>
                                                <th class="product-price">Giá</th>
                                                <th class="product_quantity">Số lượng</th>
                                                <th class="product_total">Tổng tiền</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var p in Model)
                                            {

                                                <tr>
                                                    <td class="product_remove"><a href="@Url.Action("XoaGioHang", "Cart", new { @iMaSP = p.iMaHang},null)"><i class="fa fa-trash-o"></i></a></td>
                                                    <td class="product_thumb"><a href="#"><img src="/@p.iHinhAnh" alt="@p.iTenHang"></a></td>
                                                    <td class="product_name"><a href="#">@p.iTenHang</a></td>
                                                    <td class="product-price">@p.DonGia.ToString("#,##0").Replace(',', '.') VNĐ </td>
                                                    <td class="product_quantity"><input min="1" max="100" value="@p.soluong" type="number" name="soluong" id="soluong"></td>
                                                    <td class="product_total">@p.ThanhTien.ToString("#,##0").Replace(',', '.') VNĐ </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                                <div class="cart_submit">
                                    <button type="submit">Cập nhật</button>
                                </div>
                            </div>
                        }
                        </div>
                </div>

                <!--coupon code area start-->
                <div class="coupon_area">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="coupon_code left">
                                <h3>Coupon</h3>
                                <div class="coupon_inner">
                                    <p>Hãy nhập mã giảm giá của bạn</p>
                                    <input placeholder="Coupon code" type="text">
                                    <button type="submit">ÁP dụng</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="coupon_code right">
                                <h3>Tổng số tiền giỏ hàng</h3>
                                <div class="coupon_inner">
                                    <div class="cart_subtotal">
                                        <p>Tổng số</p>
                                        <p class="cart_amount">@ViewBag.TongSoLuong sản phẩm</p>
                                    </div>
                                    <div class="cart_subtotal ">
                                        <p>Vận chuyển</p>
                                        <p class="cart_amount"><span>Giá: </span></p>
                                    </div>
                                    <a href="#">Tính toán vận chuyển</a>

                                    <div class="cart_subtotal">
                                        <p>Tổng tiền </p>
                                        <p class="cart_amount">@ViewBag.TongThanhTien.ToString("#,##0").Replace(',', '.') VNĐ </p>
                                    </div>
                                    <div class="checkout_btn">
                                        @using (Html.BeginForm("DatHang", "Cart", new { @class = "" }))
                                        {
                                            <input type="submit" value="Đặt hàng"  class="btn-danger" style="color:black;font-style:oblique" />
                                        }
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--coupon code area end-->
           
       
    </div>
</div>

@*<script type="text/javascript">
    $(document).ready(function () {

        $("#quantity").keypress(function (e)){
            if()
        }
    }
    
</script>*@



