
@model  List<QLCHTL.Models.CartItem>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var u = Session["Voucher"] as QLCHTL.Models.VOUCHER;
    var d = Session["user"] as QLCHTL.Models.Account;
}
<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Shopping Cart</h1>
                <nav class="d-flex align-items-center">
                    <a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
                    <a href="category.html">Cart</a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<!-- shopping cart area start -->
<div class="shopping_cart_area">
    <div class="container">
        <span style="color:red;font-size:initial;text-align:center">@ViewBag.ThongBao</span>
        <div class="row">
            <div class="col-12">
                @using (Html.BeginForm("CapNhatGioHang", "Cart", FormMethod.Post))
                {
                    <div class="table_desc">
                        <div class="cart_page table-responsive">
                            <table>
                                <thead>
                                    <tr>
                                        <th class="product_remove">Xóa sản phẩm</th>
                                        <th class="product_thumb">Hình ảnh</th>
                                        <th class="product_name">Sản phẩm</th>
                                        <th class="product-price">Giá</th>
                                        <th class="product_quantity">Số lượng</th>
                                        <th class="product_total">Tổng tiền</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var p in Model)
                                    {
                                        <tr>
                                            <td class="product_remove"><a href="@Url.Action("XoaGioHang", "Cart", new { @iMaSP = p.iMaHang},null)"><i class="fa fa-trash-o"></i></a></td>
                                            <td class="product_thumb"><a href="#"><img src="/@p.iHinhAnh" alt="@p.iTenHang"></a></td>
                                            <td class="product_name"><a href="#">@p.iTenHang</a></td>
                                            @if (p.GiaCu ==0)
                                            {
                                                <td class="product-price">@p.DonGia.ToString("#,##0").Replace(',', '.') VNĐ</td>
                                            }
                                            else
                                            {
                                        <td class="product-price">
                                            <span class="current_price" style="color:darkgray;font-size:small;text-decoration: line-through">@p.GiaCu.ToString("#,##0").Replace(',', '.') VNĐ</span><br />
                                            <span class="old_price">@p.DonGia.ToString("#,##0").Replace(',', '.') VNĐ</span>
                                           
                                        </td>
                                            }
                                            <td class="product_quantity"><input min="1" max="@p.Stock" value="@p.soluong" type="number" name="soluong" id="soluong"></td>
                                            <td class="product_total">@p.ThanhTien.ToString("#,##0").Replace(',', '.') VNĐ </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <div class="cart_submit">
                            <button type="submit">Cập nhật</button>
                        </div>
                    </div>
                }
            </div>
        </div>

        <!--coupon code area start-->
        <div class="coupon_area">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    @using (Html.BeginForm("Voucher", "Cart", FormMethod.Post))
                    {
                        if (u != null)
                        {
                            <div class="coupon_code left">
                                <h3>Coupon</h3>
                                <div class="coupon_inner">
                                    <p>Hãy nhập mã giảm giá của bạn</p>
                                    <input placeholder="Coupon code" type="text" name="maVoucher" id="maVoucher">
                                    <button type="submit">ÁP dụng</button>
                                    <br />
                                    <span style="color:lawngreen;font-size:small">@ViewBag.DungVoucher . <br /><br /><br /><a href="@Url.Action("XoaVoucher","Cart")"> Bỏ sử dụng Coupon code</a></span>
                                </div>
                            </div>
                        }
                        else
                        {
                            if (d != null)
                            {
                                <div class="coupon_code left">
                                    <h3>Coupon</h3>
                                    <div class="coupon_inner">
                                        <p>Hãy nhập mã giảm giá của bạn</p>
                                        <input placeholder="Coupon code" type="text" name="maVoucher" id="maVoucher">
                                        <button type="submit">ÁP dụng</button>
                                        <br />
                                        <span style="color:red;font-size:small"></span>
                                        <span style="color:lawngreen;font-size:small"></span>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="coupon_code left">
                                    <h3>Coupon</h3>
                                    <div class="coupon_inner">
                                        <p>Hãy nhập mã giảm giá của bạn</p>
                                        <input placeholder="Coupon code" type="text" name="maVoucher" id="maVoucher">
                                        <button type="submit">ÁP dụng</button>
                                        <br />
                                        <span style="color:red;font-size:small">Đăng nhập để sử dụng Voucher</span>
                                        <span style="color:lawngreen;font-size:small"></span>
                                    </div>
                                </div>
                            }


                        }

                    }
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="coupon_code right">
                        <h3>Tổng số tiền giỏ hàng</h3>
                        <div class="coupon_inner">
                            <div class="cart_subtotal">
                                <p>Tổng số:</p>
                                <p class="cart_amount">@ViewBag.TongSoLuong sản phẩm</p>
                            </div>
                            <div class="cart_subtotal">
                                <p>Tạm tính:</p>
                                <p class="cart_amount">@ViewBag.TamTinh.ToString("#,##0").Replace(',', '.') VNĐ</p>
                            </div>
                            <div class="cart_subtotal ">
                                <p>Phí vận chuyển:</p>
                                <p class="cart_amount" style="color: #ff6a00">@ViewBag.PhiShip</p>
                            </div>
                            <br />
                            <div class="cart_subtotal ">
                                <p>Khuyến mãi:</p>
                                <p class="cart_amount" style="color: #ff6a00">@ViewBag.KM%</p>
                            </div>
                            <br />
                            <br />
                            <div class="cart_subtotal">
                                <p style="font-size:x-large;color:red">Tổng tiền: </p>
                                <p class="cart_amount" style="font-size:x-large;color:red">@ViewBag.TongThanhTien.ToString("#,##0").Replace(',', '.') VNĐ </p>
                            </div>
                            <div class="checkout_btn">
                                @*@using (Html.BeginForm("DatHang", "Cart", new { @class = "" }))
                                    {
                                        <input type="submit" value="Đặt hàng" class="btn-danger" style="color:black;font-style:oblique" />
                                    }*@
                                <button type="button" class="btn btn-danger" onclick="location.href='@Url.Action("DatHang","Cart")'"><i class="fa fa-money-bill-alt"></i>  Đặt hàng</button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--coupon code area end-->


    </div>
</div>



