@model IEnumerable<QLCHTL.Models.SanPham>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

    <div class="container">
        <p class="text-right">
            <button type="button" class="btn btn-outline-success">@Html.ActionLink("Thêm sản phẩm", "Create")</button>

        </p>
        @if (ViewBag.Message != null)
        {

            <div class="alert alert-success" role="alert">
                @ViewBag.Message
            </div>
        }
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Mã sản phẩm</th>
                    <th>Tên sản phẩm</th>
                    @*<th>Giá</th>*@
                    <th>Đơn vị tính</th>
                    <th>Mô tả</th>
                    <th>Chỉnh sửa</th>

                </tr>
            </thead>
            @if (Model != null && Model.Count() > 0)
            {

                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <th>@item.productdetails.MaHang</th>
                            <th>@item.productdetails.TenHang</th>
                            @*<th>@item.giabandetails.DonGia</th>*@
                            <th>@item.productdetails.DVT</th>
                            <th>@item.productdetails.MoTa</th>
                            <td> 
                                <button type="button" class="btn btn-outline-success">@Html.ActionLink("Sửa", "Edit", new { id = item.productdetails.MaHang })</button>
                                <button type="button" class="btn btn-outline-success">@Html.ActionLink("Xóa", "Delete", new { id = item.productdetails.MaHang })</button>
                            </td>
                        </tr>
                    }
                </tbody>

            }
        </table>
      
    </div>

</body>
</html>