@model IEnumerable<QLCHTL.Models.DONDATHANG>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Shopping Cart</h1>
                <nav class="d-flex align-items-center">
                    <a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
                    <a href="category.html">Cart</a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->
<br />
<br />
<br />

<h2>Danh sách đơn hàng</h2>
 @ViewBag.tb

<!--<table class="table">
    <tr>
        <th>
            Họ tên
        </th>
        <th>
            Ngày đặt
        </th>
        <th>
            Tình trạng đơn hàng
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Account.Fullname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayDat)
            </td>
            <td>
                <div style="color:red">@Html.DisplayFor(modelItem => item.TinhTrang)</div>
            </td>
            <td>
                <button class="btn-primary">
                    @Html.ActionLink("Chi tiết", "Details", new { id = item.MaDonDatHang }, new { @style = "color:white;" })
                </button>

            </td>
        </tr>
    }

</table>
<br />
<br />
<br />
<br />
<br />
<span class="badge badge-info">Danh sách đơn hàng</span>-->
@*Danh sách sinh viên xuất sắc*@
<!--<section>
    <div class="container">
        <table>
            <thead>
                <tr class="header">
                    <th>
                        Họ và tên

                    </th>
                    <th>
                        Ngày đặt

                    </th>
                    <th>
                        Họ tên người nhận

                    </th>
                    <th>
                        Số điện thoại

                    </th>
                    <th>
                        Điạ chỉ

                    </th>
                    <th>
                        Tổng tiền

                    </th>
                    <th>
                        Tình trạng đơn hàng

                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var p in Model)
                {
                    <tr id="table-scroll">
                        <td>@p.Account.Fullname</td>
                        <td>@p.NgayDat.Value.ToString("MM/dd/yyyy")</td>
                        <td>@p.HoTenNguoiNhan</td>
                        <td>@p.SDT</td>
                        <td>@p.DiaChi</td>
                        <td>@p.SDT</td>
                        <td>@p.TongTien</td>
                        <td>@p.TinhTrang</td>
                        <td>
                            <button class="btn-primary">
                                @Html.ActionLink("Chi tiết", "Details", new { id = p.MaDonDatHang }, new { @style = "color:white;" })
                            </button>

                        </td>

                    </tr>


                }
            </tbody>
        </table>
    </div>-->
@*<button class="btn-primary">
        @Html.ActionLink("Chi tiết", "Details", new { id = item.MaDonDatHang }, new { @style = "color:white;" })
    </button>*@
<!--</section>-->
@*<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names..">
    <br />
    <br />
    <table id="myTable">
        <tr class="header">
            <th>
                Họ và tên

            </th>
            <th>
                Ngày đặt

            </th>
            <th>
                Họ tên người nhận

            </th>
            <th>
                Số điện thoại

            </th>
            <th>
                Điạ chỉ

            </th>
            <th>
                Tổng tiền

            </th>
            <th>
                Tình trạng đơn hàng

            </th>
            <th></th>
        </tr>

        @foreach (var p in Model)
        {
            <tr>
                <td>@p.Account.Fullname</td>
                <td>@p.NgayDat.Value.ToString("MM/dd/yyyy")</td>
                <td>@p.HoTenNguoiNhan</td>
                <td>@p.SDT</td>
                <td>@p.DiaChi</td>
                <td>@p.TongTien</td>
                <td>@p.TinhTrang</td>
                <td>
                    <button class="btn-primary">
                        @Html.ActionLink("Chi tiết", "Details", new { id = p.MaDonDatHang }, new { @style = "color:white;" })
                    </button>

                </td>
            </tr>


        }
    </table>*@


<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container" style="width:100%">
        <table class="table">
            <thead class="thead-light" style="background-color:#ffd800">
                <tr>
                    <th>
                        Ngày đặt

                    </th>
                    <th>
                        Họ tên người nhận

                    </th>
                    <th>
                        Số điện thoại

                    </th>
                    <th>
                        Điạ chỉ

                    </th>
                    <th>
                        Tổng tiền

                    </th>
                    <th>
                        Tình trạng đơn hàng

                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var p in Model)
                {
                    <tr>
                        <td>@p.NgayDat.Value.ToString("MM/dd/yyyy")</td>
                        <td>@p.HoTenNguoiNhan</td>
                        <td>@p.SDT</td>
                        <td>@p.DiaChi</td>
                        <td>@p.TongTien</td>
                        <td>@p.TinhTrang</td>
                        <td>
                            <button class="btn-primary">
                                @Html.ActionLink("Chi tiết", "Details", new { id = p.MaDonDatHang }, new { @style = "color:white;" })
                            </button>

                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</body>
</html>