<!--<!DOCTYPE html>
<html>
<head>-->
<!-- Favicon -->
<!--<link rel="shortcut icon" type="image/x-icon" href="@Url.Content("~/assets/img/favicon.ico")">-->
<!-- CSS
========================= -->
<!-- Plugins CSS -->
<!--<link rel="stylesheet" href="@Url.Content("~/assets/css/plugins.css")">-->
<!-- Main Style CSS -->
<!--<link rel="stylesheet" href="@Url.Content("~/assets/css/style.css")">
</head>

<body>-->
<!-- Main Wrapper Start -->
<!--Offcanvas menu area start-->
<!--<div class="off_canvars_overlay">

</div>
<div class="offcanvas_menu">
    <div class="canvas_open">
        <a href="javascript:void(0)"><i class="ion-navicon"></i></a>
    </div>
    <div class="offcanvas_menu_wrapper">
        <div class="canvas_close">
            <a href="javascript:void(0)"><i class="ion-android-close"></i></a>
        </div>
        <div class="welcome_text">

        </div>

        <div class="top_right">
            <ul>
                <li class="top_links">
                    <a href="#">My Account <i class="ion-chevron-down"></i></a>
                    <ul class="dropdown_links">
                        <li><a href="wishlist.html">My Wish List </a></li>
                        <li><a href="my-account.html">My Account </a></li>
                        <li><a href="#">Sign In</a></li>
                        <li><a href="compare.html">Compare Products  </a></li>
                    </ul>
                </li>
            </ul>
        </div>

        <div class="cart_area">
            <div class="middel_links">
                <ul>
                    <li><a href="login.html">Login</a></li>
                    <li>/</li>
                    <li><a href="login.html">Register</a></li>
                </ul>

            </div>
            <div class="cart_link">
                <a href="#"><i class="fa fa-shopping-basket"></i>2 item(s)</a>-->
<!--mini cart-->
<!--<div class="mini_cart">
    <div class="cart_item top">
        <div class="cart_img">
            <a href="#"><img src="assets/img/s-product/product.jpg" alt=""></a>
        </div>
        <div class="cart_info">
            <a href="#">Apple iPhone SE 16GB</a>

            <span>1x $60.00</span>

        </div>
        <div class="cart_remove">
            <a href="#"><i class="ion-android-close"></i></a>
        </div>
    </div>
    <div class="cart_item bottom">
        <div class="cart_img">
            <a href="#"><img src="assets/img/s-product/product2.jpg" alt=""></a>
        </div>
        <div class="cart_info">
            <a href="#">Marshall Portable  Bluetooth</a>
            <span> 1x $160.00</span>
        </div>
        <div class="cart_remove">
            <a href="#"><i class="ion-android-close"></i></a>
        </div>
    </div>
    <div class="cart__table">
        <table>
            <tbody>
                <tr>
                    <td class="text-left">Sub-Total :</td>
                    <td class="text-right">$150.00</td>
                </tr>

                <tr>
                    <td class="text-left">Total :</td>
                    <td class="text-right">$184.00</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="cart_button view_cart">
        <a href="cart.html">View Cart</a>
    </div>
    <div class="cart_button checkout">
        <a href="checkout.html">Checkout</a>
    </div>
</div>-->
<!--mini cart end-->
<!--</div>
        </div>
        <div id="menu" class="text-left ">
            <ul class="offcanvas_main_menu">
                <li class="menu-item-has-children active">
                    <a href="#">Home</a>

                </li>
                <li class="menu-item-has-children">
                    <a href="#">Shop</a>
                    <ul class="sub-menu">
                        <li class="menu-item-has-children">
                            <a href="#">Shop Layouts</a>
                            <ul class="sub-menu">
                                <li><a href="shop.html">shop</a></li>
                                <li><a href="shop-fullwidth.html">Full Width</a></li>
                                <li><a href="shop-fullwidth-list.html">Full Width list</a></li>
                                <li><a href="shop-right-sidebar.html">Right Sidebar </a></li>
                                <li><a href="shop-right-sidebar-list.html"> Right Sidebar list</a></li>
                                <li><a href="shop-list.html">List View</a></li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="#">other Pages</a>
                            <ul class="sub-menu">
                                <li><a href="portfolio.html">portfolio</a></li>
                                <li><a href="portfolio-details.html">portfolio details</a></li>
                                <li><a href="cart.html">cart</a></li>
                                <li><a href="checkout.html">Checkout</a></li>
                                <li><a href="my-account.html">my account</a></li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="#">Product Types</a>
                            <ul class="sub-menu">
                                <li><a href="product-details.html">product details</a></li>
                                <li><a href="product-sidebar.html">product sidebar</a></li>
                                <li><a href="product-grouped.html">product grouped</a></li>
                                <li><a href="variable-product.html">product variable</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="menu-item-has-children">
                    <a href="#">blog</a>
                    <ul class="sub-menu">
                        <li><a href="blog.html">blog</a></li>
                        <li><a href="blog-details.html">blog details</a></li>
                        <li><a href="blog-sidebar.html">blog  Sidebar</a></li>
                        <li><a href="blog-fullwidth.html">blog fullwidth</a></li>
                    </ul>

                </li>
                <li class="menu-item-has-children">
                    <a href="#">pages </a>
                    <ul class="sub-menu">
                        <li><a href="about.html">About Us</a></li>
                        <li><a href="services.html">services</a></li>
                        <li><a href="faq.html">Frequently Questions</a></li>
                        <li><a href="contact.html">contact</a></li>
                        <li><a href="login.html">login</a></li>
                        <li><a href="wishlist.html">Wishlist</a></li>
                        <li><a href="404.html">Error 404</a></li>
                        <li><a href="compare.html">compare</a></li>
                        <li><a href="privacy-policy.html">privacy policy</a></li>
                        <li><a href="coming-soon.html">coming soon</a></li>
                    </ul>
                </li>
                <li class="menu-item-has-children">
                    <a href="my-account.html">my account</a>
                </li>
                <li class="menu-item-has-children">
                    <a href="about.html">About Us</a>
                </li>
                <li class="menu-item-has-children">
                    <a href="contact.html"> Contact Us</a>
                </li>
            </ul>
        </div>
        <div class="offcanvas_footer">
            <span><a href="#"><i class="fa fa-envelope-o"></i> info@yourdomain.com</a></span>
            <ul>
                <li class="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li class="pinterest"><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                <li class="google-plus"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li class="linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
            </ul>
        </div>
    </div>
</div>-->
<!--Offcanvas menu area end-->
<!--header area start-->
<!--<header class="header_area header_three">-->
<!--header top start-->
<!--<div class="header_top">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-7 col-md-12">

            </div>
            <div class="col-lg-5 col-md-12">
                <div class="top_right text-right">
                    <ul>
                        <li class="top_links">
                            <a href="#">Tài khoảng <i class="ion-chevron-down"></i></a>
                            <ul class="dropdown_links">
                                <li><a href="@Url.Action("Login", "Home")">Đăng nhập</a></li>
                                <li><a href="@Url.Action("Register", "Home")">Đăng ký </a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>-->
<!--header top start-->
<!--header middel start-->
<!--<div class="header_middel">
    <div class="container-fluid">
        <div class="middel_inner">
            <div class="row align-items-center">
                <div class="col-lg-4">
                    <div class="search_bar">
                        <form action="#">
                            <input placeholder="Search entire store here..." type="text">
                            <button type="submit"><i class="ion-ios-search-strong"></i></button>
                        </form>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="logo">
                        <a href="index.html"><img src="assets/img/logo/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="cart_area">
                        <div class="cart_link">
                            <a href="@Url.Action("GioHang", "Cart")"><i class="fa fa-shopping-basket"></i>Giỏ hàng</a>-->
<!--mini cart-->
<!--mini cart end-->
<!--</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="horizontal_menu">
            <div class="left_menu">
                <div class="main_menu">
                    <nav>
                        <ul>
                            <li class="active"><a href="index.html">Home <i class="fa fa-angle-down"></i></a> </li>
                            <li class="mega_items"><a href="shop.html">shop <i class="fa fa-angle-down"></i></a></li>
                            <li><a href="blog.html">blog <i class="fa fa-angle-down"></i></a></li>
                            <li><a href="#">pages <i class="fa fa-angle-down"></i></a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="logo_container">
                <a href="index.html"><img src="assets/img/logo/logo.png" alt=""></a>
            </div>
            <div class="right_menu">
                <div class="main_menu">
                    <nav>
                        <ul>
                            <li><a href="#">Specials</a></li>
                            <li><a href="#">Sneaker</a></li>
                            <li><a href="about.html">About us</a></li>
                            <li><a href="contact.html">Contact Us</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>-->
<!--header middel end-->
<!--header bottom satrt-->
<!--<div class="header_bottom sticky-header">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12">
                <div class="main_menu_inner">
                    <div class="main_menu">
                        <nav>
                            <ul>
                                <li class="active"><a href="@Url.Action("Index", "Home")">Trang chủ </a></li>
                                <li><a href="@Url.Action("ThucAn", "Home")">Thức ăn </a></li>
                                <li><a href="about.html">Thức uống</a></li>
                                <li><a href="blog.html">Sản phẩm</a></li>
                                <li><a href="contact.html">Liên hệ</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>-->
<!--header bottom end-->
<!--</header>-->
<!--header area end-->
<!--product section area start-->
<!--product section area end-->
<!--footer area start-->
<!--<footer class="footer_widgets">
    <div class="footer_top">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-6 col-sm-6 col-6">
                    <div class="widgets_container">
                        <h3>Information</h3>
                        <div class="footer_menu">
                            <ul>
                                <li><a href="about.html">About Us</a></li>
                                <li><a href="#">Delivery Information</a></li>
                                <li><a href="privacy-policy.html">Privacy Policy</a></li>
                                <li><a href="#">Terms & Conditions</a></li>
                                <li><a href="contact.html">Contact Us</a></li>
                                <li><a href="#">Returns</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-6 col-6">
                    <div class="widgets_container">
                        <h3>Extras</h3>
                        <div class="footer_menu">
                            <ul>
                                <li><a href="#">Brands</a></li>
                                <li><a href="#">Gift Certificates</a></li>
                                <li><a href="#">Affiliate</a></li>
                                <li><a href="#">Specials</a></li>
                                <li><a href="contact.html">Site Map</a></li>
                                <li><a href="my-account.html">My Account</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="widgets_container contact_us">
                        <h3>Contact Us</h3>
                        <div class="footer_contact">
                            <p>Address: 6688 Princess Road, London, Greater London BAS 23JK, UK</p>
                            <p>Phone: <a href="tel:+(+012)800456789-987">(+012) 800 456 789 - 987</a> </p>
                            <p>Email: demo@example.com</p>
                            <ul>
                                <li><a href="#" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#" title="google-plus"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#" title="facebook"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#" title="youtube"><i class="fa fa-youtube"></i></a></li>
                            </ul>

                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="widgets_container newsletter">
                        <h3>Join Our Newsletter Now</h3>
                        <div class="newleter-content">
                            <p>Exceptional quality. Ethical factories. Sign up to enjoy free U.S. shipping and returns on your first order.</p>
                            <div class="subscribe_form">
                                <form id="mc-form" class="mc-form footer-newsletter">
                                    <input id="mc-email" type="email" autocomplete="off" placeholder="Enter you email address here..." />
                                    <button id="mc-submit">Subscribe !</button>
                                </form>-->
<!-- mailchimp-alerts Start -->
<!--<div class="mailchimp-alerts text-centre">
    <div class="mailchimp-submitting"></div>-->
<!-- mailchimp-submitting end -->
<!--<div class="mailchimp-success"></div>--><!-- mailchimp-success end -->
<!--<div class="mailchimp-error"></div>--><!-- mailchimp-error end -->
<!--</div>--><!-- mailchimp-alerts end -->
<!--</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer_bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">

                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="footer_custom_links">
                        <ul>
                            <li><a href="#">Order History</a></li>
                            <li><a href="wishlist.html">Wish List</a></li>
                            <li><a href="#">Newsletter</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>-->
<!--footer area end-->
<!-- modal area start-->
<!--<div class="modal fade" id="modal_box" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="modal_body">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5 col-md-5 col-sm-12">
                            <div class="modal_tab">
                                <div class="tab-content product-details-large">
                                    <div class="tab-pane fade show active" id="tab1" role="tabpanel">
                                        <div class="modal_tab_img">
                                            <a href="#"><img src="assets/img/product/product4.jpg" alt=""></a>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="tab2" role="tabpanel">
                                        <div class="modal_tab_img">
                                            <a href="#"><img src="assets/img/product/product6.jpg" alt=""></a>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="tab3" role="tabpanel">
                                        <div class="modal_tab_img">
                                            <a href="#"><img src="assets/img/product/product8.jpg" alt=""></a>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="tab4" role="tabpanel">
                                        <div class="modal_tab_img">
                                            <a href="#"><img src="assets/img/product/product2.jpg" alt=""></a>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="tab5" role="tabpanel">
                                        <div class="modal_tab_img">
                                            <a href="#"><img src="assets/img/product/product12.jpg" alt=""></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal_tab_button">
                                    <ul class="nav product_navactive owl-carousel" role="tablist">
                                        <li>
                                            <a class="nav-link active" data-toggle="tab" href="#tab1" role="tab" aria-controls="tab1" aria-selected="false"><img src="assets/img/s-product/product3.jpg" alt=""></a>
                                        </li>
                                        <li>
                                            <a class="nav-link" data-toggle="tab" href="#tab2" role="tab" aria-controls="tab2" aria-selected="false"><img src="assets/img/s-product/product.jpg" alt=""></a>
                                        </li>
                                        <li>
                                            <a class="nav-link button_three" data-toggle="tab" href="#tab3" role="tab" aria-controls="tab3" aria-selected="false"><img src="assets/img/s-product/product2.jpg" alt=""></a>
                                        </li>
                                        <li>
                                            <a class="nav-link" data-toggle="tab" href="#tab4" role="tab" aria-controls="tab4" aria-selected="false"><img src="assets/img/s-product/product4.jpg" alt=""></a>
                                        </li>
                                        <li>
                                            <a class="nav-link" data-toggle="tab" href="#tab5" role="tab" aria-controls="tab5" aria-selected="false"><img src="assets/img/s-product/product5.jpg" alt=""></a>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-7 col-md-7 col-sm-12">
                            <div class="modal_right">
                                <div class="modal_title mb-10">
                                    <h2>Handbag feugiat</h2>
                                </div>
                                <div class="modal_price mb-10">
                                    <span class="new_price">$64.99</span>
                                    <span class="old_price">$78.99</span>
                                </div>
                                <div class="modal_description mb-15">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia iste laborum ad impedit pariatur esse optio tempora sint ullam autem deleniti nam in quos qui nemo ipsum numquam, reiciendis maiores quidem aperiam, rerum vel recusandae </p>
                                </div>
                                <div class="variants_selects">
                                    <div class="variants_size">
                                        <h2>size</h2>
                                        <select class="select_option">
                                            <option selected value="1">s</option>
                                            <option value="1">m</option>
                                            <option value="1">l</option>
                                            <option value="1">xl</option>
                                            <option value="1">xxl</option>
                                        </select>
                                    </div>
                                    <div class="variants_color">
                                        <h2>color</h2>
                                        <select class="select_option">
                                            <option selected value="1">purple</option>
                                            <option value="1">violet</option>
                                            <option value="1">black</option>
                                            <option value="1">pink</option>
                                            <option value="1">orange</option>
                                        </select>
                                    </div>
                                    <div class="modal_add_to_cart">
                                        <form action="#">
                                            <input min="0" max="100" step="2" value="1" type="number">
                                            <button type="submit">add to cart</button>
                                        </form>
                                    </div>
                                </div>
                                <div class="modal_social">
                                    <h2>Share this product</h2>
                                    <ul>
                                        <li class="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li class="pinterest"><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                        <li class="google-plus"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                        <li class="linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>-->
<!-- modal area start-->
<!-- JS
============================================ -->
<!-- Plugins JS -->
<!--<script src="@Url.Content("~/assets/js/plugins.js")"></script>-->
<!-- Main JS -->
<!--<script src="@Url.Content("~/assets/js/main.js")"></script>


    <script src="@Url.Content("~/https://maps.googleapis.com/maps/api/js?key=AIzaSyAdWLY_Y6FL7QGW5vcO3zajUEsrKfQPNzI")"></script>
    <script src="@Url.Content("~/https://www.google.com/jsapi")"></script>
    <script src="@Url.Content("~/assets/js/map.js")"></script>


</body>
</html>-->

<!DOCTYPE html>
<html @*lang="zxx" class="no-js"*@>
<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="img/fav.png">
    <!-- Author Meta -->
    <meta name="author" content="CodePixar">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>Cửa hàng tiện lợi</title>
    <!--
        CSS
        ============================================= -->
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="img/fav.png">
    <!-- Author Meta -->
    <meta name="author" content="CodePixar">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>LA Shop</title>
    <!--
        CSS
        ============================================= -->
    <!--<link rel="stylesheet" href=@Url.Content("~/assets/css/linearicons.css")>
    <link rel="stylesheet" href=@Url.Content("~/assets/css/font-awesome.min.css")>
    <link rel="stylesheet" href=@Url.Content("~/assets/css/themify-icons.css")>
    <link rel="stylesheet" href=@Url.Content("~/assets/css/bootstrap.css")>
    <link rel="stylesheet" href=@Url.Content("~/assets/css/owl.carousel.css")>
    <link rel="stylesheet" href=@Url.Content("~/assets/css/nice-select.css")>
    <link rel="stylesheet" href=@Url.Content("~/assets/css/nouislider.min.css")>
    <link rel="stylesheet" href=@Url.Content("~/assets/css/ion.rangeSlider.css")>
    <link rel="stylesheet" href=@Url.Content("~/assets/css/ion.rangeSlider.skinFlat.css")>
    <link rel="stylesheet" href=@Url.Content("~/assets/css/magnific-popup.css")>
    <link rel="stylesheet" href=@Url.Content("~/assets/css/main.css")>-->
    <!-- Plugins CSS -->
    <!--<link rel="stylesheet" href="@Url.Content("~/assets/css/plugins.css")">

    <link rel="stylesheet" href="@Url.Content("~/assets/css/style.css")">-->

    <link rel="stylesheet" href="~/assets/css/linearicons.css">
    <link rel="stylesheet" href="~/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/assets/css/themify-icons.css">
    <link rel="stylesheet" href="~/assets/css/bootstrap.css">
    <link rel="stylesheet" href="~/assets/css/owl.carousel.css">
    <link rel="stylesheet" href="~/assets/css/nice-select.css">
    <link rel="stylesheet" href="~/assets/css/nouislider.min.css">
    <link rel="stylesheet" href="~/assets/css/ion.rangeSlider.css">
    <link rel="stylesheet" href="~/assets/css/ion.rangeSlider.skinFlat.css">
    <link rel="stylesheet" href="~/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="~/assets/css/main.css">
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="~/assets/css/plugins.css">

    <link rel="stylesheet" href="~/assets/css/style.css">
    <link rel="stylesheet" href="~/assets/css/loading.css">

</head>

<body>

    @{
        var u = Session["user"] as QLCHTL.Models.Account;
        var c = Session["CartItem"] as QLCHTL.Models.CartItem;
    }
    <header class="header_area sticky-header">
        <div class="main_menu">
            <nav class="navbar navbar-expand-lg navbar-light main_box">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <a class="navbar-brand logo_h" href="/Home/Index"><img style="width:70px;height:70px" src="~/assets/img/logo/logo_doubleA.png" alt=""></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                        <ul class="nav navbar-nav menu_nav ml-auto">
                            <li class="nav-item active"><a class="nav-link" href="@Url.Action("Index", "Home")">TRANG CHỦ</a></li>
                            <li class="nav-item submenu dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                                   aria-expanded="false">SẢN PHẨM</a>
                                <ul class="dropdown-menu">
                                    @Html.Action("MenuCategoryPartial", "Home")
                                </ul>
                            </li>

                            <li class="nav-item"><a class="nav-link" href="@Url.Action("Index", "DonHang")">ĐƠN HÀNG</a></li>
                            <!--<li class="nav-item submenu dropdown">
                                <a href="@Url.Action("Index", "DonHang")" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                                   aria-expanded="false">Đơn hàng</a>
                                <!--<ul class="dropdown-menu">
                                <li class="nav-item"><a class="nav-link" href="@Url.Action("Index", "DonHang")">Đơn hàng</a></li>-->
                                <!--@*<li class="nav-item"><a class="nav-link" href="@Url.Action("Details", "DonHang")">Chi tiết</a></li>*@-->
                                <!--</ul>-->
                            <!--</li>-->

                            <li class="nav-item"><a class="nav-link" href="@Url.Action("Index","ComboSale")">KHUYẾN MÃI</a></li>
                            <li class="nav-item"><a class="nav-link" href="@Url.Action("Index","ComboSale")">LIÊN HỆ</a></li>
                            <li class="nav-item submenu dropdown">
                                @if (u != null)
                                {
                                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                                       aria-expanded="false"><span class="ti-face-smile"></span> Hi:@u.Fullname</a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item"><a class="nav-link" href="@Url.Action("ThongTinCaNhan", "Profile")">Xem thông tin</a></li>
                                        <li class="nav-item"><a class="nav-link" href="@Url.Action("DoiMatKhau", "Home")">Đổi mật khẩu</a></li>
                                        <li class="nav-item"><a class="nav-link" href="@Url.Action("DangXuat", "Home")">Đăng xuất</a></li>

                                    </ul>


                                }
                                else
                                {
                                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                                       aria-expanded="false"><span class="ti-user"> Tài khoản</span></a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item"><a class="nav-link" href="@Url.Action("Login", "Home")">Đăng nhập</a></li>
                                        <li class="nav-item"><a class="nav-link" href="@Url.Action("Register", "Home")">Đăng ký</a></li>

                                    </ul>
                                }



                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="nav-item">
                            </li>
                            <li class="nav-item">
                                @*@if (c == null)
                                    {
                                        <a class="cart" href="@Url.Action("GioHang","Cart")"><span class="ti-bag">  Giỏ hàng</span></a>
                                    }
                                    else*@

                                @Html.Action("GioHangPartial", "Cart", new { @class = "giohang" })

                                @*<a href="@Url.Action("GioHang","Cart")" class="cart"><span class="ti-bag"></span></a>*@
                                @*<a class="cart" href="@Url.Action("GioHang","Cart")">*@



                            </li>
                            <li class="nav-item">
                                <button class="search"><span class="lnr lnr-magnifier" id="search"></span></button>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <div class="search_input" id="search_input_box">
            <div class="container">
                <form action="/Search/SearchItem" method="post" class="d-flex justify-content-between">
                    <input type="text" class="form-control" name="searchString" id="search_input" placeholder="Nhập tên sản phẩm, giá hoặc loại sản phẩm cần tìm . . .">
                    <button type="submit" class="btn btn-outline-danger" style="margin-right: 20px;margin-top:8px;"><span class="lnr lnr-magnifier"></span></button>
                    <span class="lnr lnr-cross" id="close_search" title="Close Search"></span>
                </form>
            </div>
        </div>
    </header>
    <!-- End Header Area -->
    @RenderBody()

    <!-- start footer Area -->
    <footer class="footer-area section_gap" style="background-color:#f4a72f">
        <div class="container">
            <div class="row">
                <div class="col-lg-3  col-md-6 col-sm-6" style="margin-top:-70px">
                    <div class="single-footer-widget" style="text-align:center">
                        <a class="navbar-brand logo_h" href="/Home/Index"><img style="width:150px;height:150px;margin-left:35px" src="~/assets/img/logo/logo_doubleA.png" alt=""></a><h6></h6>
                        <p style="color:#ffffff">
                            Cửa hàng tiện lợi cung cấp các dịch vụ mua sắm nhu yếu phẩm, với nhiều loại sản phẩm đa dạng, chất lượng được đặt lên hàng đâu. Hoạt động với phương chăm được phục vụ khách hàng là niềm vinh hạnh đối với cửa hàng chúng tôi, luôn mang đến dịch vụ tốt nhất cho quý khách hàng
                        </p>
                    </div>
                </div>
                <div class="col-lg-3  col-md-6 col-sm-6" style="margin-top:60px">
                    <div class="single-footer-widget mail-chimp">
                        <h6 class="mb-20" style="color:#808080">LIÊN KẾT NHANH</h6>
                        <a class="nav-link"  style="color:#ffffff" href="@Url.Action("Index", "Home")">TRANG CHỦ</a>
                        <a class="nav-link"  style="color:#ffffff"href="@Url.Action("Index", "DonHang")">THEO DÕI ĐƠN HÀNG</a>
                        <a class="nav-link"  style="color:#ffffff"href="@Url.Action("Index","ComboSale")">CHƯƠNG TRÌNH KHUYẾN MÃI</a>
                       
                    </div>
                </div>
                <div class="col-lg-4  col-md-6 col-sm-6" style="margin-top:60px">
                    <div class="single-footer-widget">
                        <h6 style="color:#808080">THÔNG TIN</h6>
                        <p style="color:#ffffff">Follow chúng tôi để không bỏ lỡ những ưu đãi hấp dẫn!</p>
                        <div class="footer-social d-flex align-items-center" style="font-size:xx-large">
                            <a href="https://www.facebook.com/profile.php?id=100004964025745"><i class="fa fa-facebook"></i></a>
                            <a href="https://www.instagram.com/n.l.ann/"><i class="fa fa-instagram"></i></a>
                        </div><br />
                        <p style="color:#ffffff">Để lại thông tin để chúng tôi liên hệ với bạn</p>
                        <div class="" id="mc_embed_signup">

                            <form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                                  method="get" class="form-inline">

                                <div class="d-flex flex-row">

                                    <input class="form-control" name="EMAIL" placeholder="Enter Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Email '"
                                           required="" type="email">


                                    <button class="click-btn btn btn-default"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></button>
                                    <div style="position: absolute; left: -5000px;">
                                        <input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
                                    </div>

                                    <!-- <div class="col-lg-4 col-md-4">
                    <button class="bb-btn btn"><span class="lnr lnr-arrow-right"></span></button>
                </div>  -->
                                </div>
                                <div class="info"></div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-6" style="margin-top:60px">
                    <div class="single-footer-widget">
                        <h6 style="color:#808080">LIÊN HỆ</h6>
                        <p style="color:#ffffff">Email: nguyenlongan09dhth2@gmail.com</p>
                        <p style="color:#ffffff">Hotline: 0845.475.575</p>
                        <p style="color:#ffffff">Địa chỉ: 140 Lê Trọng Tấn, phường Tây Thạnh, quận Tân Phú, TP. Hồ Chí Minh</p>
                        
                    </div>
                </div>
            </div>
        </div>
    </footer>














    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
    <script src=@Url.Content("https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")></script>
    <script src=@Url.Content("~/assets/js/vendor/jquery-2.2.4.min.js")></script>
    <script src=@Url.Content("https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js")
            integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
            crossorigin="anonymous"></script>
    <script src=@Url.Content("~/assets/js/vendor/bootstrap.min.js")></script>
    <script src=@Url.Content("~/assets/js/jquery.ajaxchimp.min.js")></script>
    <script src=@Url.Content("~/assets/js/jquery.nice-select.min.js")></script>
    <script src=@Url.Content("~/assets/js/jquery.sticky.js")></script>
    <script src=@Url.Content("~/assets/js/nouislider.min.js")></script>
    <script src=@Url.Content("~/assets/js/countdown.js")></script>
    <script src=@Url.Content("~/assets/js/jquery.magnific-popup.min.js")></script>
    <script src=@Url.Content("~/assets/js/owl.carousel.min.js")></script>
    <!--gmaps Js-->
    <script src=@Url.Content("https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE")></script>
    <script src=@Url.Content("~/assets/js/gmaps.min.js")></script>
    <script src=@Url.Content("~/assets/js/mainn.js")></script>


</body>
</html>