
@model IEnumerable<QLCHTL.Models.SanPham>
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*@using QLCHTL.Models;*@

<!-- start banner Area -->
<section class="banner-area">
    <div class="container">
        <div class="row fullscreen align-items-center justify-content-start">
            <div class="col-lg-12">
                <div class="active-banner-slider owl-carousel">
                    <!-- single-slide -->
                    <div class="row single-slide align-items-center d-flex">
                        <div class="col-lg-5 col-md-6">
                            <div class="banner-content">
                                <h1>Bắt đầu mua sắm thôi nào! <br> Let's go</h1>
                                <p>
                                    Các sản phẩm hot luôn được cập nhật thường xuyên, kèm theo đó là vô vàng những ưu đãi đang chờ đón bạn!
                                </p>
                                <div class="add-bag d-flex align-items-center">
                                    <a class="add-btn" href="@Url.Action("Index","ComboSale")"><span class="lnr lnr-cross"></span></a>
                                    <span class="add-text text-uppercase">Xem thêm nhiều sản phẩm hơn</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="banner-img">
                                <img class="img-fluid" src="~/assets/img/banner/banner-img.png" alt="">
                            </div>
                        </div>
                    </div>
                    <!-- single-slide -->
                    <div class="row single-slide">
                        <div class="col-lg-5">
                            <div class="banner-content">
                                <h1>Nike New <br>Collection!</h1>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
                                </p>
                                <div class="add-bag d-flex align-items-center">
                                    <a class="add-btn" href=""><span class="lnr lnr-cross"></span></a>
                                    <span class="add-text text-uppercase">Add to Bag</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="banner-img">
                                <img class="img-fluid" src="img/banner/banner-img.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End banner Area -->
<!-- start features Area -->
<section class="features-area section_gap">
    <div class="container">
        <div class="row features-inner">
            <!-- single features -->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-features">
                    <div class="f-icon">
                        <img src="~/assets/img/icon/f-icon1.png" alt="">
                    </div>
                    <h6>Giao hàng miễn phí</h6>
                    <p>Miễn phí vận chuyển trên tất cả các đơn đặt hàng trên 200k</p>
                </div>
            </div>
            <!-- single features -->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-features">
                    <div class="f-icon">
                        <img src="~/assets/img/icon/f-icon2.png" alt="">
                    </div>
                    <h6>Chính sách hoàn trả</h6>
                    <p>Đổi trả khi bạn phát hiện bất kì lỗi nào từ cửa hàng</p>
                </div>
            </div>
            <!-- single features -->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-features">
                    <div class="f-icon">
                        <img src="~/assets/img/icon/f-icon3.png" alt="">
                    </div>
                    <h6>Hỗ trợ khách hàng 24/7</h6>
                    <p>Giải đáp các thắc mắc của khách hàng về các chương trình ưu đãi cũng như các dịch vụ của cửa hàng</p>
                </div>
            </div>
            <!-- single features -->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-features">
                    <div class="f-icon">
                        <img src="~/assets/img/icon/f-icon4.png" alt="">
                    </div>
                    <h6>Thanh toán dễ dàng</h6>
                    <p> Chấp nhận nhiều hình thức thanh toán khác nhau</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end features Area -->
<!-- start product Area -->
<section class="owl-carousel active-product-area section_gap">
    <!-- single product slide -->
    <div class="single-product-slider">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 text-center">
                    <div class="section-title">
                        <h1 style="color:#e3c418;font:bold 40px arial, verdana">Sản phẩm mới nhất</h1>
                        <p>

                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                @foreach (var p in @ViewBag.HangTongHop)
                {
                    <!-- single product -->
                    <div class="col-lg-3 col-md-6">
                        <div class="single-product">
                            <img class="img-fluid" style="width:250px;height:224px" src="/@p.productdetails.HinhAnh" alt="@p.productdetails.HinhAnh">
                            <div class="product-details">
                                <h6>
                                    @p.productdetails.TenHang
                                </h6>
                                <div class="price">
                                    <h6>@p.giabandetails.DonGia.ToString("#,##0").Replace(',', '.') VNĐ</h6>
                                    <h6 class="l-through"></h6>
                                </div>
                                <div class="prd-bottom">
                                    <a href="@Url.Action("ThemGioHang", "Cart", new { @ms = p.productdetails.MaHang, @strURL = Request.Url.ToString() }, null)" class="social-info">
                                        <span class="ti-bag"></span>
                                        <p class="hover-text">Mua hàng</p>

                                    </a>
                                    <a href="@Url.Action("Detail", "Product", new { @ms = p.productdetails.MaHang}, null)" class="social-info">

                                        <span class="lnr lnr-move"></span>
                                        <p class="hover-text">Xem chi tiết sản phẩm</p>
                                    </a>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <!-- single product slide -->
    <div class="single-product-slider">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 text-center">
                    <div class="section-title">
                        <h1>THỰC PHẨM KHÔ</h1>
                        <p>

                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- single product -->
                <div class="row">
                    @foreach (var p in @ViewBag.BanhKeo)
                    {
                        <!-- single product -->
                        <div class="col-lg-3 col-md-6">


                            <div class="single-product">
                                <img class="img-fluid" style="width:250px;height:224px" src="/@p.productdetails.HinhAnh" alt="@p.productdetails.HinhAnh">
                                <div class="product-details">
                                    <h6>
                                        @p.productdetails.TenHang
                                    </h6>
                                    <div class="price">
                                        <h6>@p.giabandetails.DonGia.ToString("#,##0").Replace(',', '.') VNĐ</h6>
                                        <h6 class="l-through"></h6>
                                    </div>
                                    <div class="prd-bottom">
                                        <a href="@Url.Action("ThemGioHang", "Cart", new { @ms = p.productdetails.MaHang, @strURL = Request.Url.ToString() }, null)" class="social-info">
                                            <span class="ti-bag"></span>
                                            <p class="hover-text">Mua hàng</p>

                                        </a>
                                        <a href="@Url.Action("Detail", "Product", new { @ms = p.productdetails.MaHang}, null)" class="social-info">
                                            <span class="lnr lnr-move"></span>
                                            <p class="hover-text">Xem chi tiết sản phẩm</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
@*===========================================================================================================*@
